
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

.div-container{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  margin-bottom: 0px;
  background-color:#E7E9EB ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

.div-banner{
  width: 80%;
  height: 30%;
  background-color: #c9a712;
}

.header{
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  color: #a0a0a3;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: 0.5px solid #cbcace; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  box-shadow: 5 5 5px rgba(218, 26, 26, 0.1);
}

input[type=text]:focus {
  border: 3px solid rgb(83, 90, 190)0f0;
  box-shadow: 5 5 5px rgba(179, 20, 20, 0.1);
  caret-color:rgb(238, 47, 47);
}

input[type="checkbox"] {
  accent-color: rgb(192, 224, 236);
}

.div-buttons{
  width: 80%;
  display: flex;
  margin-top: 3rem;
  justify-content:space-around;
}

.list-items{
  width: 80%;
  height: auto;
  align-content: center;
  list-style: none;
  background-color: white;
  padding-left: 1rem;
}

.input-box-div{
  box-shadow: 5px 4px 5px lightblue;
  margin-top:3rem ;

}

.name-display-span{
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: 'Roboto', sans-serif;

}

.counter-div{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 620;
  color: rgb(146, 146, 148);
}


/*  Media Query Starts Here */

  

  @media only screen and (max-width: 767px) {
    *{
      margin: 0px;
      padding: 0px;
      border: 0px;
      box-sizing: border-box;
    }
    
    .div-container{
      display:flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      min-height: 100vh;
      margin-bottom: 0px;
      background-color:#E7E9EB ;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 0.3s;
    }
    
    .div-banner{
      width: 80%;
      height: 30%;
      background-color: #c9a712;
    }
    
    .header{
      margin-top: 2.5rem;
      margin-bottom: 3rem;
      font-size: 2rem;
      font-family: 'Roboto', sans-serif;
      color: #a0a0a3;
    }
    
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      text-align: center;
      margin: 8px 0;
      box-sizing: border-box;
      /* border: 0.5px solid #cbcace; */
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      box-shadow: 5 5 5px rgba(218, 26, 26, 0.1);
    }
    
    input[type=text]:focus {
      border: 3px solid rgb(83, 90, 190)0f0;
      box-shadow: 5 5 5px rgba(179, 20, 20, 0.1);
      caret-color:rgb(238, 47, 47);
    }
    
    input[type="checkbox"] {
      accent-color: rgb(192, 224, 236);
    }
    
    .div-buttons{
      width: 80%;
      display: flex;
      margin-top: 3rem;
      margin-bottom: 3rem;
      justify-content:space-between;
    }
    
    .list-items{
      width: 80%;
      height: auto;
      align-content: center;
      list-style: none;
      background-color: white;
      padding-left: 1rem;
    }
    
    .input-box-div{
      box-shadow: 5px 4px 5px lightblue;
      margin-top:3rem ;
    
    }
    
    .name-display-span{
      margin-top: 1rem;
      margin-left: 1rem;
      font-family: 'Roboto', sans-serif;
    
    }
    
    .counter-div{
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 620;
      color: rgb(146, 146, 148);
    }
    
    
  }
